footer.footer.footer-static.footer-dark.navbar-border.navbar-shadow
    p.clearfix.blue-grey.lighten-2.text-sm-center.mb-0.px-2
        span.float-md-left.d-block.d-md-inline-block
            | Copyright © 2019
            a.text-bold-800.grey.darken-2(href='https://github.com/Enkosz', target='_blank')  PIXINVENT
            | , Tutti i diritti sono riservati.