extends ../../../layout/index

block styleExtension
    link(rel='stylesheet', type='text/css', href='/app-assets/vendors/css/tables/datatable/datatables.min.css')

block scriptExtension
    script(src='/app-assets/vendors/js/tables/datatable/datatables.min.js', type='text/javascript')
    script(src='/assets/js/scripts/datatables/datatables_order_user.js', type='text/javascript')
    
block pageHeader
    .content-header-left.col-md-6.col-12.mb-2
        h3.content-header-title.mb-0 #{title}
        .row.breadcrumbs-top
            .breadcrumb-wrapper.col-12
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='/') Home
                    li.breadcrumb-item.active
                        | #{title}

block pageContent
    .row
        .col-md-12
            include ../../../layout/components/flash
            .card
                .card-header
                    h4.card-title Ordini Registrati
                .card-content
                    .card-body.card-dashboard
                        table#order-list-user.table.table-striped.table-bordered
                            thead
                                tr
                                    th N. Ordine
                                    th Totale
                                    th N. Prodotti
                                    th Stato
                                    th Data
                                    th Azioni
                            tbody
