extends ../layout/index

block scriptExtension
    script(src='/assets/js/scripts/sockets/index.js', type='text/javascript')

block pageHeader
    .content-header-left.col-md-6.col-12.mb-2
        h3.content-header-title.mb-0 #{title}

block pageContent
    .row
        .col-xl-3.col-lg-6.col-12
            .card.pull-up
                .card-content
                    .card-body
                        .media.d-flex
                            .media-body.text-left
                                h3#metalActual.info
        .col-xl-3.col-lg-6.col-12
            .card.pull-up
                .card-content
                    .card-body
                        .media.d-flex
                            .media-body.text-left
                                h3#crystalActual.info
        .col-xl-3.col-lg-6.col-12
            .card.pull-up
                .card-content
                    .card-body
                        .media.d-flex
                            .media-body.text-left
                                h3#deuteriumActual.info
        .col-xl-3.col-lg-6.col-12
            .card.pull-up
                .card-content
                    .card-body
                        .media.d-flex
                            .media-body.text-left
                                h3#eneryActual.info
