extends ../layout/index

block pageContent
    .row
        .col-xl-4.col-lg-6.col-12
            .card.pull-up
                .card-content
                    .card-body
                        .media.d-flex
                            .media-body.text-left
                                h3.info #{totalProductsSold}
                                h6 Prodotti Venduti
                            div
                                i.icon-basket-loaded.info.font-large-2.float-right
        .col-xl-4.col-lg-6.col-12
            .card.pull-up
                .card-content
                    .card-body
                        .media.d-flex
                            .media-body.text-left
                                h3.warning #{totalProfit} €
                                h6 Profitto Totale
                            div
                                i.icon-pie-chart.warning.font-large-2.float-right
        .col-xl-4.col-lg-6.col-12
            .card.pull-up
                .card-content
                    .card-body
                        .media.d-flex
                            .media-body.text-left
                                h3.success #{countUser}
                                h6 Utenti Registrati
                            div
                                i.icon-user-follow.success.font-large-2.float-right
