extends ../../layout/auth

block scriptExtension
    script(src='/assets/js/scripts/calls/auth.js', type='text/javascript')

block pageContent
    section.flexbox-container
        .col-12.d-flex.align-items-center.justify-content-center
            .col-md-4.col-10.box-shadow-2.p-0
                .card.border-grey.border-lighten-3.m-0
                    .card-header.border-0
                        .card-title.text-center
                            .h2
                                | Login
                    .card-content
                        .card-body
                            form#form_login.form-horizontal.form-simple(action='/authentication/login', method="POST" novalidate='')
                                include ../../layout/components/flash
                                fieldset.form-group.position-relative
                                    label(for='user-email') Email
                                    input#user-email.form-control.input-md(type='email', name="email", placeholder='Inserisci la tua email', required='')
                                fieldset.form-group.position-relative
                                    label(for='user-password') Password
                                    input#user-password.form-control.input-md(type='password', name="password", placeholder='Inserisci la tua password', required='')
                                .form-group.row
                                    .col-md-12.col-12.text-center.text-md-right
                                        a.card-link(href='recover-password.html') Recupera password
                                button.btn.btn-info.btn-md.btn-block(type='submit')
                                    |  Login
                    .card-footer
                        div
                            p.float-sm-right.text-center.m-0
                                | Sei un nuovo utente? 
                                a.card-link(href='/authentication/register') Registrati ora.